# **Lab 2**

### Booleans

In [1]:
print(10 > 9)

True

In [2]:
print(10 == 9)

False

In [3]:
print(10 < 9)

False

In [4]:
print(bool("abc"))

True

In [5]:
print(bool(0))

False

### Operators

In [6]:
#we are adding "*" to multiply these values
print(10 * 5)

50

In [7]:
#we are adding "/" to divide these values
print(10 / 2)

5.0

In [8]:
#we are adding "in" presence operator to check if "apple" is in "fruits"
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [9]:
#we are adding "!=" inequality operator to check if these values are not equal
if 5 != 10:
    print("5 and 10 is not equal")

5 and 10 is not equal

In [10]:
#we are adding "or" operator to check if one of these statements is true
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true

### Lists

In [11]:
#we are adding "fruits[1]" to pass the value of this element to "print" function
fruits = ["apple", "banana", "cherry"]
print(fruits[1])
print(len(fruits))

banana
3

In [12]:
#we are adressing the first element with index "0" and changing its value to "kiwi"
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits[0])
print(len(fruits))

kiwi
3

In [13]:
#we are appending "orange" as an element to the list "fruits" by using an "append" function
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[-1])
print(len(fruits))

orange
4

In [14]:
#we are inserting "lemon" as an element of first index (2nd position) moving all other elements 1 position to the right
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits[1])
print(len(fruits))

lemon
4

In [15]:
#we are removing "banana" by using "remove" function which is serching for the first same value
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits[1])
print(len(fruits))

cherry
2

In [16]:
#we are using negative indexing to addres the last element of the list to print it
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [17]:
#we are using index range from "2" to "5" to print values from the list with the third, fourth and fith positions
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [18]:
#we are printiong the length of the list by using "len()" function to get it's length
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

### Tuples

In [19]:
#we are accessing the first element of this collection by its index to print it
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [20]:
#we are using the "len()" function to get a number of this collection to print it
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [21]:
#we are using a negative indexing to address the last element of this touple to print it
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [22]:
#we are using the range of indexes to access multiple elements of the touple
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

### Sets

In [23]:
#we are adding operator "in" to check if the element is in the collection
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [26]:
#we are adding element "orange" to the set using the "add()" method
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

In [ ]:
#we are adding multiple elements to the collection using the "update()" method
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [ ]:
#we are removing element "banana" from the collection using "remove()" method
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")

In [ ]:
#we are removing element "banana" from the collection using the discard method
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")

### Dictionaries

### If...Else

### While loops

### For loops