# **Lab 2**

### Booleans

In [1]:
print(10 > 9)

True

In [2]:
print(10 == 9)

False

In [3]:
print(10 < 9)

False

In [4]:
print(bool("abc"))

True

In [5]:
print(bool(0))

False

### Operators

In [6]:
#we are adding "*" to multiply these values
print(10 * 5)

50

In [7]:
#we are adding "/" to divide these values
print(10 / 2)

5.0

In [8]:
#we are adding "in" presence operator to check if "apple" is in "fruits"
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [9]:
#we are adding "!=" inequality operator to check if these values are not equal
if 5 != 10:
    print("5 and 10 is not equal")

5 and 10 is not equal

In [10]:
#we are adding "or" operator to check if one of these statements is true
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true

### Lists

In [11]:
#we are adding "fruits[1]" to pass the value of this element to "print" function
fruits = ["apple", "banana", "cherry"]
print(fruits[1])
print(len(fruits))

banana
3

In [12]:
#we are adressing the first element with index "0" and changing its value to "kiwi"
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits[0])
print(len(fruits))

kiwi
3

In [13]:
#we are appending "orange" as an element to the list "fruits" by using an "append" function
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[-1])
print(len(fruits))

orange
4

In [14]:
#we are inserting "lemon" as an element of first index (2nd position) moving all other elements 1 position to the right
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits[1])
print(len(fruits))

lemon
4

In [15]:
#we are removing "banana" by using "remove" function which is serching for the first same value
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits[1])
print(len(fruits))

cherry
2

In [16]:
#we are using negative indexing to addres the last element of the list to print it
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [17]:
#we are using index range from "2" to "5" to print values from the list with the third, fourth and fith positions
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [18]:
#we are printiong the length of the list by using "len()" function to get it's length
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

### Tuples

In [19]:
#we are accessing the first element of this collection by its index to print it
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [20]:
#we are using the "len()" function to get a number of this collection to print it
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [21]:
#we are using a negative indexing to address the last element of this touple to print it
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [22]:
#we are using the range of indexes to access multiple elements of the touple
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

### Sets

In [23]:
#we are adding operator "in" to check if the element is in the collection
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [24]:
#we are adding element "orange" to the set using the "add()" method and then checking if it's working
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
if "orange" in fruits:
    print("Yes, orange is a fruit!")

Yes, orange is a fruit!

In [25]:
#we are adding multiple elements to the collection using the "update()" method and then checking if it's working
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
if "orange" and "mango" and "grapes" in fruits:
    print("There are three new fruits: orange, mango and grapes!")

There are three new fruits: orange, mango and grapes!

In [26]:
#we are removing element "banana" from the collection using "remove()" method and then checking if it's working
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
if "banana" in fruits:
    print("Banana is still there!")
else:
    print("We got rid of banana successfully!")

We got rid of banana successfully!

In [27]:
#we are removing element "banana" from the collection using the discard method and then checking if it's working
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
if "banana" in fruits:
    print("Banana is still there!")
else:
    print("We got rid of banana successfully!")

We got rid of banana successfully!

### Dictionaries

In [28]:
#We are adding "car.get("model")" to get value from the particular key in a dictionary using "get()" method
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car.get("model"))

Mustang

In [29]:
#We are changing the value of the key "year" in a dictionary and printing the changed value to check
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2020
print(car.get("year"))

2020

In [30]:
#We are adding the new key "color" with a value "red" to the existing dictionary
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"] = "red"
print(car.get("color"))

red

In [31]:
#We are removing the "model" key with its value from the dictionary using the "pop()" method
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.pop("model")
print(car.get("model"))

None

In [32]:
#We are clearing the whole dictionary using the "clear()" method
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.clear()
print(len(car))

0

### If...Else

In [33]:
#We are printing "Hello World" if "a" is greater then "b"
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [34]:
#We are printing "Hello World" if "a" is not equal to "b"
a = 50
b = 10
if a != b:
    print("Hello World")

Hello World

In [35]:
#We are printing "Yes" if "a" is equal to "b" and printing "No" in any other cases
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

In [36]:
#We are using "elif" statement to make more than two options to consider
a = 50
b = 10
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

In [37]:
#We are checking multiple conditions at the same time using "and" logical operator
#In order to proceed with this task we have to define all variables beforehand
a = b = 10
c = d = 20
if a == b and c == d:
    print("Hello")

Hello

In [38]:
#We are checking multiple conditions at the same time using "or" logical operator
#In order to proceed with this task we have to define all variables beforehand
a = b = 10
c = 30
d = 20
if a == b or c == d:
    print("Hello")

Hello

In [39]:
#We are adding indentation with tabulation key before the "print()" function to make this code working
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [40]:
#We are using shorthand syntax to make this expression work
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

In [41]:
#We are using shorthand syntax to make this expression work
print("Yes") if 5 > 2 else print("No")

Yes

### While loops

In [42]:
#We are using "while" loop to print "i" as long as "i" is less then 6
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [43]:
#We are using "break" operator to stop the loop at certain condition
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    i += 1

1
2

In [ ]:
#We are using "continue" operator to skip one iteration with particular condition
i = 1
while i < 6:
    if i == 3:
        continue
    print(i)
    i += 1

1
2

In [1]:
#We are adding "else" operator to print a message after the loop is finished
i = 0
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less then 6")

0
1
2
3
4
5
i is no longer less then 6

### For loops

In [2]:
#We are iterating through the list "fruits" with a "for" loop and printing all its values
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
#We are iterating through the list "fruits" and printing all the elements except one
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [3]:
#We are creating a list using "range()" function and printing all its values using a "for" loop
for x in range(6):
    print(x)

0
1
2
3
4
5

In [4]:
#We are stopping our looping though the list "fruits" when banana is encountered befor printing it
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple