# Lab 3

### Functions

In [3]:
#We are defining a function and then calling it by its name
def my_function():
    print("Hello from a function")
    
my_function()

Hello World

In [7]:
#We are defining a function with two parameters and calling it with two strings
def my_function(fname, lname):
    print(fname)
    
my_function("Hello", "World")

Hello

In [9]:
#We are defining a function with one parameter and returning it's value increased by 5
def my_function(x):
    return x + 5

print(my_function(3))

8

In [12]:
#We are defining function with multiple parameters and printing only one from them
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("3", "5", "1", "4")

The youngest child is 1

In [ ]:
def my_function(**kid):
    print("His last name is " + ked["lname"])

### Lambda

In [17]:
#We are defining a lambda function which takes one parameter and simply returning it back
x = lambda a : a

_There were no other tasks, but I realized that for me this topic is quite hard to understand, thus I made several other examples_

In [16]:
#If I try to print it, it returns just the memory allocation address
x = lambda a : a
print(x)

<function <lambda> at 0x103bc1bd0>

In [25]:
def my_function(n):
  return lambda a : a * n

mytripler = my_function(3)
myquadripler = my_function(4)

print(mytripler(11))
print(myquadripler(11))

33
44

### Classes

In [28]:
#We are creating simple class, creating an object from it and printing its value
class MyClass:
    x = 5

p1 = MyClass()

print(p1.x)

5

In [29]:
#We are creating class "Person"
class Person:
    def __init__ (self, name, age):
        self.name = name
        self.age = age

### Inheritance

### Modules