# **Lab work 1**

### Syntax

In [1]:
print("Hello World")

Hello World

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

### Comment

In [3]:
#This is a comment

In [4]:
#Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes)
"""
This is a comment
written in 
more than just one line
"""

'\nThis is a comment\nwritten in \nmore than just one line\n'

### Variables

In [5]:
carname = "Volvo"
print(carname)

Volvo

In [6]:
x = 50
print(x)

50

In [7]:
x = 5
y = 10
print(x+y)

15

In [8]:
x = 5
y = 10
z = x + y
print(z)

15

In [9]:
myfirst_name = "John"

In [10]:
x = y = z = "Orange"

In [11]:
def myfunc():
    global x
    x = "fantastic"

### Data types

In [12]:
x = 5
print(type(x))

<class 'int'>

In [13]:
x = "Hello World"
print(type(x))

<class 'str'>

In [14]:
x = 20.5
print(type(x))

<class 'float'>

In [15]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [16]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [17]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [18]:
x = True
print(type(x))

<class 'bool'>

### Numbers

In [19]:
x = 5
x = float(x)
print(x)

5.0

In [20]:
x = 5.5
x = int(x)
print(x)

5

In [21]:
x = 5
x = complex(x)
print(x)

(5+0j)

### Strings

In [22]:
x = "Hello World"
print(len(x))

11

In [23]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [24]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [25]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [26]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [27]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [28]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [29]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36